:root{
    --blue:#6c96b6;
    --darkgreen:#384b42;
    --lightgreen:#6a9b86;
    --border:.1rem solid #6a9b86;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}



body{
    background: var(--darkgreen);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--blue);
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  z-index: 1000;
}

/* Fade-out animation for alert */
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.alert-success.fade-out {
  animation: fadeOut 2s ease-out;
}


.header{
    background: var(--darkgreen);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    
}

.logo img{
    height: 7rem;
}

.header .navbar a{
   
    font-size: 15px;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--blue);
    border-bottom: .1rem solid var(--blue);
    padding-bottom: .5rem;
}




/* NAVIGATION CSS */

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}



   /* LOGIN CSS */

   .wrapper{
    width: 500px;
    height: 500px;
    background: var(--lightgreen);
    border-radius: 25px;
    display: flex;
    align-items: center;
  }
  
  .form-box{
    width: 100%;
    padding: 50px;
  }

  .form-box h2{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  .input-box{
    width: 100%;
    height: 65px;
    position: relative;
    border-bottom: 3px solid black;
    margin: 40px 0;
  }
  
  


  .input-box label {
    position: absolute;
    top: 50%;
    margin-left: 5px;
    font-size: 11px;
    color: black;
    font-weight: bold;
    
  }

  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -10px;
  }

  .input-box input{
    height: 100%;
    width: 100%;
    font-size: 10px;
    color: black;
    background: transparent;
    font-weight: bold;
    margin-left: 5px;
  }

  

  .login-register {
    font-size: 10px;
    color: black;
    text-align: center;
    margin: 2em;
  }

  .login-register p a {
    color: black;
    font-weight: bold;
  }

  .login-register p a:hover {
    text-decoration: underline;
    color: var(--blue);
  }


  .btn{
    background: var(--darkgreen);
    height: 50px;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
  }
  
  .btn:hover{
    color: var(--blue);
}