@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --blue: #6c96b6;
    --darkgreen: #384b42;
    --lightgreen: #6a9b86;
    --border: .1rem solid #6a9b86;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--lightgreen);
    color: var(--lightgreen);
    
}

/* Header Styling */
header {
    background-color: var(--lightgreen);
    color: #a7eecf;
    padding: 20px;
    text-align: center;
}

/* Navigation Styling */
nav {
background-color: var(--lightgreen);
overflow: hidden;
text-align: center;
}

nav a {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
transition: background-color 0.3s;
}

nav a:hover {
background-color: var(--blue);
color: black;
}

nav a.active {
background-color: var(--blue);
color: white;
}

nav a:last-child {
border-right: none;
}

@media screen and (max-width: 600px) {
nav a {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
}



.book-image-container{
    width:70%;
    border:collapse;
    height:300px;   
    display: block;
    width: 40%;
    margin:auto;        
}


.book-details{
    text-align:center ;
    color:darkgreen;
    height:400px;
    width:5%;
    text-align: justify;
}

.book-description{
    color:darkgreen;
    border:black;
    inline-size: 380px;
    overflow-wrap: break-word;

}

.book-price{
    color:darkgreen;
    border:black;
    text-align:center;

}


form{
    text-align:left;
    color:darkgreen;
}

.delete-button {
    position: absolute;
    right: 500px;
    top:700px;
            background: var(--darkgreen);
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background 0.2s linear;
        }

        .basket {
            position: absolute;
            left:880px;
            top:700px;
                    background: var(--darkgreen);
                    color: #fff;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    transition: background 0.2s linear;
                }

        .btn:hover {
            background: var(--blue);
        }