<!DOCTYPE html>
<Html lang="en">
<Head><Title>Homepage</Title><link rel="stylesheet" href="Home.css"></head></Head>
<nav>
<body>
</nav>
<img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage">
<a href ="Home.html"> 
</a>
</header>
<h1><U>HOME</U></h1>
    <ul>
        <li><a href="#"> </a></li> 
        <li><a href="#"> </a></li>
        <li><a href="#"> </a></li>
        <li><a href="#"> </a></li>
    </ul>
</nav>
<p>Fill in blank with the names off your pages</p>
<p>Greetings and welcome to the X webpage, where I will be offering books in a variety of genres. We are all the top sellers of specialised books that you won't find anywhere else. </p>
<p><U>BEST SELLERS</U></p>
<img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage"> <img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage"> <img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage">  <img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage"> 
<p><U>NEW IN</U></p>
<img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage"> <img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage"> <img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage">  <img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage">
<p><U>GENRES</U></p>
<img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage"> <img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage"> <img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage">  <img src="Image/BLANK.PNG" alt="Homepage" title="My Homepage">

